<div class="dashbg bg-light text-center">
  <h1 class="display-6">Приветствуем, уважаемый пользователь!</h1>
  <h5>На данной странице Вы можете найти ответы на самые популярные вопросы о работе веб-сервиса Discord Community. </h5>
  <hr>
  <ul class="text-start list-unstyled px-4">
    <h5><strong>Сервер</strong></h5>
    <li>- Как добавить сервер в список?
      <ul>
        <li>Вам необходимо авторизоваться, для этого нажмите кнопку "Login" в верхней панели сайта, далее нажмите кнопку "Добавить сервер".</li>
        <li>Заполните анкету с информацией о вашем сервере и не забудьте, что ссылка-приглашение должна быть бессрочной и без ограничения на количество использовний.</li>
        <li>Если вы не знаете, как определить уникальный идентификатор вашего сервера, вы найдете ответ ниже.</li>
      </ul>
    </li>
    <br>

    <li>- Как определить уникальный идентификатор вашего сервера?
      <ul>
        <li>Вам необходимо открыть настройки сервера, далее найти вкладку "Виджет".</li>
        <li>В поле "ID Сервера" вы найдете уникальный идентификатор, который нужен для добавления своего сервра в нашем веб-сервисе.</li>
        <li>Убедитесь, что напротив поля "Включить виджет сервера" стоит галочка, иначе у нас не будет доступа к информации об онлайне вашего сервера.</li>
      </ul>
    </li>
    <br>

    <h5><strong>Лайки</strong></h5>
    <li>- Для чего нужны лайки?
      <ul>
        <li>Лайки позволяют выразить свою любовь к серверу, а еще сохранить сервер в избранном, чтобы потом его можно было найти в личном кабинете.</li>
        <li>Также ваши лайки позволяют лучше понять ваши предпочтения и помогают более качественно рекомендовать вам другие сервера.</li>
        <li>Если один из лайкнутых серверов будет удален, он останется в вашем списке избранного.</li>
      </ul>
    </li>
    <br>

    <h5><strong>Регистрация</strong></h5>
    <li>- Для чего нужны регистрироваться на сайте?
      <ul>
        <li>Для авторизованного пользователя доступен полный функционал веб-сервиса.</li>
        <li>Например, вы можете добавлять сервера в избранное, оставлять комментарии и иметь доступ к личному кабинету.</li>
        <li>В личном кабинете можно добавить свой сервер, управлять добавленными серверами, просмотреть список избранных серверов, получить персональную рекомендацию серверов на сайте.</li>
      </ul>
    </li>
    <br>

  </ul>
</div>
